<!--
<%= form_for(@trip) do |f| %>
  <% if @trip.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@trip.errors.count, "error") %> prohibited this trip from being saved:</h2>

      <ul>
      <% @trip.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :budget %><br>
    <%= f.number_field :budget %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
-->

<form class="form-horizontal">
<fieldset>

<div class="container" id="new-trip-form">
        <h1>New Trip</h1>
        <p>Went on a trip and did awesome things? Share your experience with others so they can follow in your footsteps. The goBug community thanks you!</p>
    <%= form_for(@trip) do |f| %>
        <div class="required-field-block">
            <%= f.text_field :name, class: "form-control", placeholder: "Trip Name" %>
            <!-- <input type="text" placeholder="Name" class="form-control"> -->
            <div class="required-icon">
                <div class="text">*</div>
            </div>
        </div>

        <div class="required-field-block">
            <%= f.number_field :budget, class: "form-control", placeholder: "Budget" %>
        </div>
        
 
        <div class="required-field-block">
            <%= f.text_area :description, class: "form-control", placeholder: "Description" %>
        </div>
        <br>
        <%= f.submit class: ".gobug-btn" %>
    <% end %>
</div>
</fieldset>
</form>
