<!DOCTYPE html>
<html>
<head>
  <style>
  </style>
  <title>GoBug</title>

    <!-- %= stylesheet_link_tag 'application', media: 'all' %> -->

    <script src="http://maps.googleapis.com/maps/api/js?sensor=false&libraries=places"></script>
    <%= javascript_include_tag 'application' %>
    <script src="/jquery.geocomplete.js"></script>
     <!-- Latest compiled and minified CSS -->
     <link href='http://fonts.googleapis.com/css?family=Overlock|Fira+Mono|Source+Code+Pro|Cousine|Comfortaa|Berkshire+Swash' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/stylesheets/splash.css">

    <%= csrf_meta_tags %>
</head>
<body>
<div id="splash-links">
  <a href="#" data-toggle="modal" data-target="#loginModal">Log In</a> |
  <a href="#" data-toggle="modal" data-target="#signupModal">Sign Up</a>
</div>

  <h2>goBug</h2>
<div class="#splash">
<%= search_form_for @search do |f| %>
    <%= f.hidden_field :description %><p>
    <h3>Where would you like to go?</h3>
    <%= f.text_field :location_name_cont, class: "location", placeholder: "Enter a location", id: "splash-search" %><p><p>
  <%= f.submit "Search", id: "search-btn" %>
<% end %>
</div>
</body>

<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
  <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
            <h4 class="modal-title" id="myModalLabel">Please sign in</h4>
            </div>
            <div class="modal-body">
              <%= form_for :session, url: '/login' do |f|  %>
                  <%= f.text_field :username, placeholder: "Username", class: 'form-control' %><br>
                  <%= f.password_field :password, placeholder: "Password", class: 'form-control' %><br>
                  <%= f.submit "Log In", class: 'btn btn-default' %>
              <% end %>
        </div>
    </div>
  </div>
</div>




<div class="modal fade" id="signupModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
  <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
            <h4 class="modal-title" id="myModalLabel">We're happy to have you! Please sign up below</h4>
            </div>
            <div class="modal-body">
              <%= form_for @user do |f| %>
                <%= f.text_field :username, placeholder: "Username", class: 'form-control' %><br>
                <%= f.text_field :first_name, placeholder: "First Name", class: 'form-control' %><br>
                <%= f.text_field :last_name, placeholder: "Last Name", class: 'form-control' %><br>
                <%= f.text_field :email, placeholder: "Email", class: 'form-control' %><br>
                <%= f.password_field :password, placeholder: "Password", class: 'form-control' %><br>
                <%= f.password_field :password_confirmation, placeholder: "Confirm Password", class: 'form-control' %></p>
                <%= f.submit "Sign Up", class: 'btn btn-default' %>
              <% end  %>
            </div>
        </div>
  </div>
</div>

</html>
