<% if @trip %>
  <h2 class="page-header"><%= best_in_place @trip, :name %></h2>
    <h4>Visible to: <%= best_in_place @trip, :is_private, :type => :checkbox,collection: {false => "Everyone", true => "Only you"}%> | <%= link_to "Delete Trip", {:controller => :trips, :action => 'destroy', :id => @trip.id }, method: 'delete' %>
    </h4>
    <h4>Budget: <%= best_in_place @trip, :budget, :display_with => :number_to_currency %> | Remaining:
      <% if @trip.budget %>
       <div id='balance-field'><%= number_to_currency(@trip.remaining_budget) %></div>
       <% else %>
        0
      <% end %>
    </h4>
    <br>
  <button id="add-expense", class="gobug-btn">Add Item</button>
<% elsif wishlist %>
  <h2 class="page-header"><%= best_in_place @wishlist, :name %></h2>
  <h4>Budget: <%= best_in_place @wishlist, :budget, :display_with => :number_to_currency %> | Remaining:
    <% if @wishlist.budget %>
     <div id='balance-field'><%= number_to_currency(@wishlist.remaining_budget) %></div>
     <% else %>
      0
    <% end %>
  </h4><br><br>
  <h5><%= link_to "Delete Wishlist", {:controller => :wishlists, :action => 'destroy', :id => @wishlist.id }, method: 'delete' %> | <a href="#" id="show-done-checkboxes">Make this into a trip</a> <a href="#" class="converter">Convert to trip</a></h5>

<% end %>

<% if @trip %>
<p><p>
  <div class="row placeholders">
    <%= form_for [@trip, @expense] do |f| %>
    <% if @expense.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@expense.errors.count, "error") %> prohibited this expense from being saved:</h2>

      <ul>
        <% @expense.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
    </div>
    <% end %>
    <div id="add-expense-form">
    <%= f.select :category_id, Category.all.collect {|category| [ category.name, category.id ] }, {:include_blank => "Select Category"}, class: "category-dropdown form-field" %>
    <%= f.text_field :location_id, class: "location form-field", placeholder: " Enter a city", id: "location-field form-field" %>
    <%= f.text_field :cost, class: "currency form-field", placeholder: " Enter cost" %>
    <%= f.select :currency_id, Currency.all.collect {|currency| [ currency.code, currency.id ]}, {:selected => '150'} %>
    <%= f.text_field :usd_cost, readonly: true, placeholder: " USD", class: "currency form-field" %>
    <%= f.text_field :title, placeholder: "Name of hotel, store, attraction, etc...", class: 'large_input form-field' %>
    <%= f.text_area :description, placeholder: " How was your experience?", class: 'large_input form-field' %><p id="charNum"></p><br>

    <%= f.submit "Submit", class: "gobug-btn" %>
    <p><p>
      <% end %>
    </div>
    </div>


    <div class="row">
      <div class="[ col-xs-12 col-sm-offset-2 col-sm-8 ]">
        <ul class="event-list">
          <% expenses.each do |expense| %>
            <li>
              <time data-currency-code='<%= expense.currency.code %>' data-expense-id='<%=expense.id %>'>
                <%= image_tag( category_image(expense.category.name)) %><p>
              <% if expense.cost %>
              <p class="desc usd-cost-field">$<%= number_with_precision(expense.usd_cost, precision: 2) %></p>
              <div class="cost-wrapper">
                <p class="desc foreign-cost-field"><%= best_in_place expense, :cost, :display_with => lambda { |c| number_with_precision(c, precision: 2)} %></p>
                <p class="currency-code"><%=expense.currency.code %></p>
              </div>
                <% else %>
                <p class="desc usd-cost-field"><%= best_in_place expense, :cost, :display_with => :number_to_currency %></p>
                <p class="desc"></p>
              <% end %>
            </time>
              <div class="info">
                <div class="delete"> <%= button_to "X", {:controller => :expenses, :action => 'destroy', :id => expense.id }, method: 'delete', remote: true, class: "gobug-delete-btn" %></div>
                <h5 data-category="<%=expense.category_id %>"  class="title"><%= best_in_place expense, :title%></h5>
                <p class="loc"><%= expense.location.name %></p>
                <p class="desc"><%= best_in_place expense, :description, type: :textarea %></p>

            </div>
            <% end %>
          </li>
        </ul>
      </div>

        <% end %>

<% if wishlist %>
  <div class="row">
      <div class="[ col-xs-12 col-sm-offset-2 col-sm-8 ]">
        <ul class="event-list">
          <% expenses.each do |expense| %>
            <li  data-category="<%=expense.category_id %>" data-expense-id='<%=expense.id %>'  >
              <time data-currency-code='<%= expense.currency.code %>'>
                <%= image_tag( category_image(expense.category.name)) %><p>
              <% if expense.cost %>
             <p class="desc usd-cost-field">$<%= number_with_precision(expense.usd_cost, precision: 2) %></p>
              <div class="cost-wrapper">
                <p class="desc foreign-cost-field"><%= best_in_place expense, :cost, :display_with => lambda { |c| number_with_precision(c, precision: 2)} %></p>
                <p class="currency-code"><%=expense.currency.code %></p>
              </div>
                <% else %>
                <p class="desc usd-cost-field"><%= best_in_place expense, :cost, :display_with => :number_to_currency %></p>
                <p class="desc"></p>
              <% end %>
            </time>
              <div class="info">

                <div class="delete"> <%= button_to "X", {:controller => :expenses, :action => 'destroy', :id => expense.id }, method: 'delete', remote: true, class: "gobug-delete-btn" %></div>
                    <div class="conversion-checkboxes">
                      <input id="did_it" name="did_it" type="checkbox" value="1">
                      <label for="did_it">Move to Trip</label>
                    </div>
                <h5 class="title"><%= expense.title%></h5>
                <p class="loc"><%= expense.location.name %></p>
                <p class="desc"><%= best_in_place expense, :cost, type: :textarea %></p>
            </div>
            <% end %>
          </li>
        </ul>
      </div>
<% end %>

<script>



$(document).ready(function(e){
     $('time').change(function(e){
      var foreign_cost = e.target.value
      var code = e.delegateTarget.dataset.currencyCode
      var converted = fx.convert(foreign_cost, {from: code, to: "USD"}).toFixed(2)
      $('.usd-cost-field', e.delegateTarget).text('$'+converted)
      var id = e.delegateTarget.dataset.expenseId
    $.ajax({
        url: '/expenses/' + id,
        type: 'PUT',
        data: {usd_cost: converted}
      })
    });

  var original_value = ""
  $('.best_in_place[data-bip-attribute="cost"]').on('click',function(){
    original_value = parseFloat($(this).text().replace(/[A-Za-z$-,]/g, ""));
  });

  var converted = ""
  $('time').change(function(e){
    var foreign_cost = e.target.value
    var code = e.delegateTarget.dataset.currencyCode
    var difference = parseFloat(original_value - foreign_cost)
    var diff_converted = fx.convert(difference, {from: code, to :"USD"}).toFixed(2)
    var new_balance = parseFloat($('#balance-field').text().replace(/[A-Za-z$-,]/g, "")) + parseFloat(diff_converted)
    converted = fx.convert(foreign_cost, {from: code, to: "USD"}).toFixed(2)
    $('.usd-cost-field', e.delegateTarget).text('$'+converted)
    $('#balance-field').text('$'+new_balance)
  });

})
</script>

