<% if all %>
	<h2>Full Item List</h2>
<% elsif wishlist %>
  <h2>Wishlist for <%= @wishlist.name %></h2>
<% else %>
	<h2>Items for <%= expenses.first.trip.name %></h2>
	<button id="add-expense">Add Expense</button>
<% end %>


<% if !wishlist %>
<% @trip = expenses.first.trip %>

<%= form_for [expenses.first.trip, @expense] do |f| %>
  <% if @expense.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@expense.errors.count, "error") %> prohibited this expense from being saved:</h2>

      <ul>
      <% @expense.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= f.text_field :location_id, class: "location" %>
    <%= f.text_field :cost, class: "currency" %>
    <%= f.select :currency_id, Currency.all.collect {|currency| [ currency.code, currency.id ] }, {:include_blank => "Currency"}, class: "currency" %>
    <%= f.text_field :usd_cost, readonly: true, placeholder: "USD", class: "currency" %>
    <%= f.hidden_field :description, value: "Enter a description" %>

    <%= f.select :category_id, Category.all.collect {|category| [ category.name, category.id ] }, {:include_blank => "Select Category"} %>

    <%= f.date_field :date, :value => Time.now.strftime('%Y-%m-%d') %>
    <%= f.submit "Submit" %>
<% end %>

<% expenses.each do |expense| %>
  <div class="item_box">
    <%= expense.location.name %><br>
    <%= expense.currency.code %>
    <%= expense.cost %> |
    <%= expense.usd_cost %> |
    <%= expense.category.name %> |
    <%= best_in_place expense, :date %><br>
    <%= best_in_place expense, :description, type: :textarea %>
  </div>
<% end %>
<% end %>

<% if wishlist %>
  <% expenses.each do |expense| %>
    <div class="item_box">
      <%= expense.location.name %><br>
      <%= expense.usd_cost %> |
      <%= expense.category.name %> |
      <%= expense.date %><br>
      <%= expense.description %>
    </div>
  <% end %>
<% end %>
