<% if @current_user %>
  <%= link_to("Create New Wishlist", new_wishlist_path) %>
<% end %>

<div class="container-fluid">
  <% @expenses.each do |ex| %>

  <% end %>
    <div class="row">
    <% @expenses.each do |expense| %>
      <div class="col-md-3">
        <%= expense.title %><br>
        <%= expense.location.name %></br>
        <%= price(expense.usd_cost) %> | <%= expense.category.name %><br>
        <%= truncate(expense.description, :length => 90) %>
        <% if @current_user %>
          <div class="wishlist-button">
              <% if @wishlists.length == 1 %>
                <%= button_to "Add to Wishlist", add_to_wishlist_path(wishlist_id: @wishlists.first, expense_id: expense.id), method: "post", remote: true %>
              <% elsif @wishlists.length > 1 %>
                <%= select_tag :wishlist_id, options_for_select(@wishlist_options, :include_blank => true) %>
                <%= hidden_field_tag :expense_id, expense.id, class: "expense_id" %>
              <% else %>
                <%= button_to "Create Wishlist", new_wishlist_path, method: "get" %>
              <% end %>
            </div>
        <% end %>
      </div>
    <% end %>
  </div>
</table>
