<% if @current_user %>
  <%= link_to("Create New Wishlist", new_wishlist_path) %>
<% end %>

<table>
  <thead>
    <tr>
      <th>Cost</th>
      <th>Description</th>
      <th>Category</th>
      <th>Date</th>
      <th>Location</th>
    </tr>
  </thead>

  <tbody>
    <% @expenses.each do |expense| %>
      <tr>
        <td><%= expense.usd_cost %></td>
        <td><%= link_to expense.description, expense_path(expense) %></td>
        <td><%= expense.category.name %></td>
        <td><%= expense.date %></td>
        <td><%= expense.location.name %></td>
        <% if @current_user %>
            <td id="add">
              <% if @wishlists.length > 1 %>
                <%= form_tag action:'add_to_wishlist', method:'post' do %>
                <%= select_tag(:wishlist_id, options_for_select(@wishlist_options)) %>
                <%= hidden_field_tag :expense_id, expense.id %>
                <%= submit_tag 'Add to Wishlist' %>
                <% end %>
              <% end %>
            </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
