 <nav>
    <div class="navbar navbar-inverse navbar-fixed-top" role:"navigation">
        <div class="container-fluid">
          <div class="navbar-header"><%= link_to "goBug!", root_path, class: "navbar-brand" %></div>
            <ul class="left">
              <%= search_form_for @search do |f| %>
              <div class="search_results">
              <li><%= f.text_field :description, placeholder: "Search Keyword", class: 'form-control'%></li><p>
              <li><%= f.text_field :location_name_cont, placeholder: "City", class: "location form-control" %><p></li>
              <li><%= f.text_field :usd_cost_gteq, placeholder: "$ From", class: "currency form-control"%></li>
              <li><%= f.text_field :usd_cost_lteq, placeholder: "$ To" , class: "currency form-control" %></li>
              <li><%= f.collection_select :category_id_eq, Category.all, :id, :name, include_blank: 'By Category' %></li>
              <li><%= f.submit "Search", class: "gobug-btn-orange" %></li>
              </div>
              <% end %>
            </ul>

            <% if session[:user_id] %>
              <ul class="nav navbar-nav navbar-right">
                 <li><%= link_to "Log Out", '/logout', method: :delete %></li>
              </ul>
            <% end %>
        </div>
      </div>
    </div>
  </nav>