
<li>
  <time><%= image_tag( category_image(expense.category.name)) %><p>
    <p class="desc", id="usd-cost-field"><%= number_to_currency(expense.usd_cost)%></p>
    <p class="desc"><%= number_with_precision(expense.cost, :precision => 2) %> <%=expense.currency.code %></p>
  </time>
  <div class="info">
  <div class="delete"> <%= button_to "x", {:controller => :expenses, :action => 'destroy', :id => expense.id }, method: 'delete', remote: true %></div>
    <h5 class="title"><%= expense.title%></h5>
    <p class="loc"><%= expense.location.name %></p>
    <p class="desc"><%= best_in_place expense, :description, type: :textarea %></p>
 </li>