<%= render '/expenses/nav_bar' %>

<% if session[:user_id] && session[:toggle] %>
  <div id="wrapper" class="active">
<% elsif session[:user_id] && !session[:toggle] %>
  <div id="wrapper">
<% else %>
  <div id="wrapper" class="active">
<% end %>

  <div id="sidebar-wrapper">
    <%= render '/users/sidebar' %>
  </div>
  <div id="page-content-wrapper">
    <div class="page-content inset">
        <div id="expenses_grid" >
          <div class="page-title">
          <h2>Build Your Trip</h2>
            <% if @current_user %>
              <a href="#" data-toggle="modal" data-target="#basicModal">New Wishlist</a>
            <% end %>
          </div>
          <%= render 'expense_table' %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="basicModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
	<div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
            <h4 class="modal-title" id="myModalLabel">New Wishlist</h4>
            </div>
            <div class="modal-body">
                <p>Planning a trip? Sweet! Create a wishlist then browse the site to find out what other people recommend. When you find something that strikes your interest, add it here for safe-keeping.</p>

                <% @wishlist = Wishlist.new %>

	             <%= form_for(@wishlist) do |f| %>

					<%= f.text_field :name, class: "form-control", placeholder: "Trip Name" %><br>
					<%= f.number_field :budget, class: "form-control", placeholder: "Budget (optional)" %><br>
					<%= f.submit "Create", id: "modal-submit", class: "gobug-btn" %>
				<% end %>
      </div>
        </div>
    </div>
  </div>
</div>