<table>
  <thead>
    <tr>
      <th>Description</th>
      <th>Category</th>
      <th>Date</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @expenses.each do |expense| %>
      <tr>
        <td><%= expense.usd_cost %></td>
        <td><%= link_to expense.description, expense_path(expense) %></td>
        <td><%= expense.category.name %></td>
        <td><%= expense.date %></td>
        <td><%= expense.location.name %></td>
        <td><%= link_to 'Edit', edit_expense_path(expense) %></td>
        <td><%= link_to 'Destroy', expense_path(expense), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% if @is_wishlist == false %>
        <td id="add"><%= button_to 'Add to Wishlist', {:controller => :wishlist_items, :action => 'create', :expense_id => expense.id, :wishlist_id => 1 }, :method => :create %></td>
        <% else %>
        <td><%= button_to 'Remove', {:controller => :wishlist_items, :action => 'destroy', :expense_id => expense.id, :wishlist_id => 1 }, :method => :delete %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>