  <div class="item_box">
    <%= best_in_place expense.location, :name %><br>
    <%= best_in_place expense, :usd_cost %> |
    <%= best_in_place expense.category, :name %> |
    <%= best_in_place expense, :date %><br>
    <%= best_in_place expense, :description, type: :textarea %>
  </div>