  <!DOCTYPE html>
<html>
<head>
  <title>GoBug</title>
    <!-- %= stylesheet_link_tag    'application', media: 'all' %> -->
    <%= stylesheet_link_tag 'dashboard', media: 'all' %>
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <!-- <script src="/jquery.geocomplete.js"></script> -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <script src="http://maps.googleapis.com/maps/api/js?sensor=false&libraries=places"></script>
    <%= javascript_include_tag 'application' %>


    <%= csrf_meta_tags %>
</head>
<body>
  <nav>
    <%= flash[:error] %>
    <% if session[:user_id] %>
      <%= link_to "Create a Trip", new_trip_path %><br>
      <%= link_to "Log Out", '/logout', method: :delete %>
    <% else %>
      <%= form_for :session, url: '/login' do |f| %>
        <%= f.text_field :username, placeholder: "Username" %><br>
        <%= f.password_field :password, placeholder: "Password" %><br>
        <%= f.submit "Log In" %>
        <% end %>
      <%= link_to "Sign Up", '/users/new' %>
      <% end %>
  </nav>

<%= flash[:notice] %>
<%= flash[:alert] %>
<%= yield %>

</body>
</html>
